.primary {
	display: block;
	width: max-content;
	padding: 0.5em 1em;

	color: #fff;
	background: var(--primary-color);

	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;

	border: none;
	border-radius: 0.5em;

	cursor: pointer;

	transition: all 300ms ease-out;
}

.primary:hover {
	background: var(--primary-color-hover);
	color: #fff;
}

.primary:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.primary:disabled:hover {
	background: var(--primary-color);
}

.secondary {
	display: block;
	background: var(--secondary-color);
	width: max-content;
	color: var(--text-color);
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 300ms ease-out;
	text-decoration: none;
}

.secondary:hover {
	background: var(--secondary-color-hover);
	color: var(--text-color);
}

.secondary:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.secondary:disabled:hover {
	background: var(--secondary-color);
}

.danger {
	display: block;
	background: var(--cancel-color);
	width: max-content;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 300ms ease-out;
	text-decoration: none;
}

.danger:hover {
	background: var(--cancel-color-hover);
	color: #fff;
}
