.customBody {
	display: flex;
	align-items: center;
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
	width: 100vw;
}

.main {
	padding: 5em;
	width: 100%;
	height: calc(100% - 10em);
	/* max-height: 80vh; */
	overflow-y: auto;
}

@media (max-width: 765px) {
	.main {
		padding: 2em;
		height: calc(100% - 4em);
	}
}
