.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table thead tr {
	height: max-content;
}

.table th {
	position: relative;
	padding: 0.5em;
	text-align: left;
}

.table tbody th {
	font-weight: normal;
}

.flexRow {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.actionButton {
	width: 2em;
	height: 2em;
	border-radius: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}

.actionButton:hover {
	background-color: #476ff13a;
}
