.wrapper {
	--max-width-post: 1500px;
	position: relative;
	width: 100%;
	max-width: var(--max-width-post);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.postList {
	top: 0;
	left: 0;
	position: relative;
	width: max-content;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
