#form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	gap: 1em;
}

.markdownEditor {
	width: calc(100% - 2em);
	height: 100%;
	padding: 1em;
	margin: 2em 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	resize: vertical;
	background: rgba(255, 255, 255, 0.39);
	border-radius: 0.5em;
}

/* .markdownEditor * {
	background: none;
	color: var(--text-color);
} */

.editorToolbar {
	position: sticky;
	top: 80px;
	z-index: 99;
}
